@page
@model ASP.Pages.Customers.Edit
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-4">
        <h2 class="text-center mb-5">Edit Customer</h2>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
 <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly asp-for="Id" type="text">   
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Firstname">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Lastname">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Company*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Company">
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Notes</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Notes">
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a href="/Customers/Index" class="btn btn-outline-primary" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>